In [51]:
def flatten(ls,x):
  for l in ls:
    if type(l)==list:
      flatten(l,x)
    else:
      x.append(l)
  return x

#2. arguman olarak bos liste verilmeli
ls=[[1,'a',['cat'],2],[[[3]],'dog'],4,5]
new_ls=[]
flatten(ls,new_ls)

[1, 'a', 'cat', 2, 3, 'dog', 4, 5]

In [52]:
def rvrs(ls):
  for l in ls:
    if type(l)==list:
      l.reverse
      rvrs(l)
  ls.reverse()

rvrs(m)
m

[5, 4, ['dog', [[3]]], [2, ['cat'], 'a', 1]]